.sapphirelogo {
  height: 30rem;
  width: 30rem;
  margin-left: 33.12%;
  margin-right: 33.12%;
  margin-top: 8%
}

.logo {
  height: 30rem;
  width: 30rem;
  margin-top: 1rem;
}

.logo:hover {
  height: 33.125rem;
  width: 33.125rem;
  margin-left: -1.5625rem;
}

.navbar {
  position: fixed;
  height: 6rem;
  width: 96.25rem;
  background-color: white;
  top: 0;
  left: 0;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 25), 0 1px 10px 0 rgba(0, 0, 255);
}

.sapplogo1 {
  height: 95px;
  width: 95px;
}
